body {
    font-family: Arial, sans-serif;
    background-color: #E4E0E1;
    margin: 0;
    padding: 0;
}

h1{
    color: #2E7D32;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    color: #2E7D32;
    margin-bottom: 10px;
}

.navbar {
    background-color: #2E7D32;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.form-container {
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

label {
    display: block;
    margin: 15px 0 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"],
input[type="file"] {
    width: calc(100% - 20px); 
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #2E7D32;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.note {
    display: block;
    color: #d32f2f; 
    font-size: 12px;
    margin-top: 5px;
}

button:hover {
    background-color: #1B5E20;
}